/* https://colorhunt.co/palette/14279b3d56b25c7aeae6e6e6 */

.body {
  background-color: #E6E6E6;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

.main-header{
  box-sizing: border-box;
  background-color: #14279B;
  color:white;
  
  margin: 0;
  height: 150px;
  padding:40px;
  text-align: center;
  align-items: center;
  font-size: 40px;
 }

 .main-footer{
  box-sizing: border-box;
  background-color: #14279B;
  color:white;
  margin: 0;
  padding:25px;
  height: 100px;
  margin-top:550px;
  text-align: center;
  align-items: center;
  font-size: 25px;
 }

 .add-item{
   margin:auto;
   padding:30px;
   width:600px;
   box-sizing: border-box;
   background-color:#93a8f1;
   border-radius: 0px 0px 5px 5px ;
 }

.form-content{
  width:400px;
  box-sizing: border-box;
  margin:auto;

}

 .item-label{
   color:white;
   font-weight:500;
   font-size: 20px;
 }


 .input-item, .item-label, .add-button{
  box-sizing: border-box;
   margin:10px;
 }

 .input-item, .add-button{
  height:30px;
}

.input-item{
  width:250px;
}

.add-button{
  font-size: 15px;
  color:white;
  font-weight: bold;
  width:80px;   
  background-color:rgb(0, 83, 250);
  height:40px;
  border-radius: 5px;
  border-style: none;
 }

 .add-button:hover{
  background-color: rgb(44, 113, 250);
 }

 .input-button{
   align-items: center;
   display:flex;
   justify-content: space-between;
 }



