/* https://colorhunt.co/palette/14279b3d56b25c7aeae6e6e6 */

.body {
  background-color: #E6E6E6;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

.main-header{
  box-sizing: border-box;
  background-color: #14279B;
  margin: 0;
  height: 150px;
  padding:40px;
  text-align: center;
  align-items: center;
  font-size: 40px;
 }

 .main-footer{
  box-sizing: border-box;
  background-color: #14279B;
  margin: 0;
  padding:25px;
  height: 100px;
  margin-top:700px;
  text-align: center;
  align-items: center;
  font-size: 25px;
 }